image: docker:20.10.3

# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#docker-in-docker-with-tls-enabled-in-the-docker-executor
services:
  - docker:20.10.3-dind

variables: 
  FLAVOR: 'gitlab'

stages:
  - service-ci

before_script:
  - apk add bash git jq ca-certificates

gateway:
  stage: service-ci
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        paths:
          - apps/gateway/**
        compare_to: 'refs/heads/develop'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        paths:
          - apps/gateway/**
        compare_to: 'refs/heads/main'
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == "main"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == "develop"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME ~= "/^release/"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME ~= "/^hotfix/"
      when: always
  trigger:
    include: .cicd/common/app.gitlab-ci.yml
    strategy: depend
  variables:
    SERVICE: gateway

internal-service:
  stage: service-ci
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        paths:
          - apps/internal-service/**
        compare_to: 'refs/heads/develop'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        paths:
          - apps/internal-service/**
        compare_to: 'refs/heads/main'
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == "main"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == "develop"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME ~= "/^release/"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME ~= "/^hotfix/"
      when: always
  trigger:
    include: .cicd/common/app.gitlab-ci.yml
    strategy: depend
  variables:
    SERVICE: internal-service
