image: docker:20.10.3

# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#docker-in-docker-with-tls-enabled-in-the-docker-executor
services:
  - docker:20.10.3-dind

variables: 
  FLAVOR: 'gitlab'

stages:
  - auto-git-tagging

before_script:
  - apk add bash git jq ca-certificates

auto-git-tagging:
  stage: auto-git-tagging
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  script:
    - bash .cicd/common/auto-git-tagging.sh