image: docker:20.10.3

# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#docker-in-docker-with-tls-enabled-in-the-docker-executor
services:
  - docker:20.10.3-dind

variables: 
  FLAVOR: 'gitlab'

stages:
  - calc-changed-services
  - build

before_script:
  - apk add bash git jq ca-certificates

auto-git-tagging:
  stage: auto-git-tagging
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'main'
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'develop'
  script:
    - bash .cicd/common/calc-changed-services.sh

gateway:
  stage: build
  only:
    changes:
    - apps/gateway/**
  trigger:
    include: .cicd/common/app.gitlab-ci.yml
  variables: 
    SERVICE: gateway

internal-service:
  stage: build
  only:
    changes:
    - apps/internal-service/**
  trigger:
    include: .cicd/common/app.gitlab-ci.yml
  variables: 
    SERVICE: internal-service